###### Terraform ######

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc


###### Packer ######

# Cache objects
packer_cache/

# Crash log
crash.log

# https://www.packer.io/guides/hcl/variables
# Exclude all .pkrvars.hcl files, which are likely to contain sensitive data, 
# such as password, private keys, and other secrets. These should not be part of 
# version control as they are data points which are potentially sensitive and 
# subject to change depending on the environment.
#
vars.pkrvars.hcl

# For built boxes
*.box

*.log
.sops/config.txt

######## Auto-ignored SOPS Secrets ########
ansible/ansible.cfg
!ansible/ansible.cfg.sops
ansible/inventories/group_vars/all.yml
!ansible/inventories/group_vars/all.yml.sops
ansible/inventories/hosts.ini
!ansible/inventories/hosts.ini.sops
docker/.env.dmz
!docker/.env.dmz.sops
docker/.env.prod
!docker/.env.prod.sops
docker/secrets/dmz/authentik_ldap_token
!docker/secrets/dmz/authentik_ldap_token.sops
docker/secrets/dmz/authentik_proxy_token
!docker/secrets/dmz/authentik_proxy_token.sops
docker/secrets/dmz/basic_auth_credentials
!docker/secrets/dmz/basic_auth_credentials.sops
docker/secrets/dmz/cf_dns_api_token
!docker/secrets/dmz/cf_dns_api_token.sops
docker/secrets/dmz/cloudflared_token
!docker/secrets/dmz/cloudflared_token.sops
docker/secrets/dmz/crowdsec_lapi_key
!docker/secrets/dmz/crowdsec_lapi_key.sops
docker/secrets/dmz/immich_postgres_db
!docker/secrets/dmz/immich_postgres_db.sops
docker/secrets/dmz/immich_postgres_password
!docker/secrets/dmz/immich_postgres_password.sops
docker/secrets/dmz/immich_postgres_user
!docker/secrets/dmz/immich_postgres_user.sops
docker/secrets/dmz/nextcloud_admin_password
!docker/secrets/dmz/nextcloud_admin_password.sops
docker/secrets/dmz/nextcloud_admin_user
!docker/secrets/dmz/nextcloud_admin_user.sops
docker/secrets/dmz/nextcloud_jwt_secret_key
!docker/secrets/dmz/nextcloud_jwt_secret_key.sops
docker/secrets/dmz/nextcloud_postgres_db
!docker/secrets/dmz/nextcloud_postgres_db.sops
docker/secrets/dmz/nextcloud_postgres_password
!docker/secrets/dmz/nextcloud_postgres_password.sops
docker/secrets/dmz/nextcloud_postgres_user
!docker/secrets/dmz/nextcloud_postgres_user.sops
docker/secrets/dmz/oauth_client_id
!docker/secrets/dmz/oauth_client_id.sops
docker/secrets/dmz/oauth_client_secret
!docker/secrets/dmz/oauth_client_secret.sops
docker/secrets/dmz/oauth_encryption_key
!docker/secrets/dmz/oauth_encryption_key.sops
docker/secrets/dmz/oauth_secret
docker/secrets/dmz/oauth_secrets
!docker/secrets/dmz/oauth_secret.sops
!docker/secrets/dmz/oauth_secrets.sops
docker/secrets/dmz/traefik_forward_oauth
!docker/secrets/dmz/traefik_forward_oauth.sops
docker/secrets/prod/apprise_discord_webhook_id
!docker/secrets/prod/apprise_discord_webhook_id.sops
docker/secrets/prod/apprise_discord_webhook_token
!docker/secrets/prod/apprise_discord_webhook_token.sops
docker/secrets/prod/authentik_email_host
!docker/secrets/prod/authentik_email_host.sops
docker/secrets/prod/authentik_email_password
!docker/secrets/prod/authentik_email_password.sops
docker/secrets/prod/authentik_email_username
!docker/secrets/prod/authentik_email_username.sops
docker/secrets/prod/authentik_postgresql_db
!docker/secrets/prod/authentik_postgresql_db.sops
docker/secrets/prod/authentik_postgresql_pass
!docker/secrets/prod/authentik_postgresql_pass.sops
docker/secrets/prod/authentik_postgresql_user
!docker/secrets/prod/authentik_postgresql_user.sops
docker/secrets/prod/authentik_secret_key
!docker/secrets/prod/authentik_secret_key.sops
docker/secrets/prod/basic_auth_credentials
!docker/secrets/prod/basic_auth_credentials.sops
docker/secrets/prod/cf_dns_api_token
!docker/secrets/prod/cf_dns_api_token.sops
docker/secrets/prod/crowdsec_lapi_key
!docker/secrets/prod/crowdsec_lapi_key.sops
docker/secrets/prod/komodo_db_pass
!docker/secrets/prod/komodo_db_pass.sops
docker/secrets/prod/komodo_db_user
!docker/secrets/prod/komodo_db_user.sops
docker/secrets/prod/komodo_oidc_client_id
!docker/secrets/prod/komodo_oidc_client_id.sops
docker/secrets/prod/komodo_oidc_client_secret
!docker/secrets/prod/komodo_oidc_client_secret.sops
docker/secrets/prod/komodo_passkey
!docker/secrets/prod/komodo_passkey.sops
docker/secrets/prod/komodo_webhook
!docker/secrets/prod/komodo_webhook.sops
docker/secrets/prod/mailrise_discord_webhook_id
!docker/secrets/prod/mailrise_discord_webhook_id.sops
docker/secrets/prod/mailrise_discord_webhook_token
!docker/secrets/prod/mailrise_discord_webhook_token.sops
docker/secrets/prod/speedtest_tracker_app_key
!docker/secrets/prod/speedtest_tracker_app_key.sops
docker/secrets/prod/vaultwarden_zip_password
!docker/secrets/prod/vaultwarden_zip_password.sops
docker/services/ddclient/config/ddclient.conf
!docker/services/ddclient/config/ddclient.conf.sops
docker/services/traefik/config/dmz/traefik.yaml
!docker/services/traefik/config/dmz/traefik.yaml.sops
docker/services/traefik/config/prod/traefik.yaml
!docker/services/traefik/config/prod/traefik.yaml.sops
docker/services/vaultwarden/config/rclone/rclone.conf
!docker/services/vaultwarden/config/rclone/rclone.conf.sops
######## End of Auto-ignored SOPS Secrets ########
